@use "../utils/variables.scss" as *;
@use "../utils/mixins" as *;

.header {
  border-bottom: 1px solid $nav-border-color;
  background-color: aqua;
  padding: 24px 0px;
}

.header__container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* background-color: yellow; */ /*  ------ only to temporary preview box area*/
  /* vertical-align: middle; */
}

.nav__links {
  display: flex;
  list-style-type: none;
  padding: 0;
  width: 254px;
  justify-content: space-between;
  /* margin-right: 371px; */
  /* margin-left: 93px; */
}

.nav__link {
  /* display: block; */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $font-main-color;

  &.nav__link--current {
    color: $hover-bg-color;
    position: relative;
  }
}

.nav__link--current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -32px;
  right: 0;
  border-radius: 2px;
  background: $hover-bg-color;
}

.nav__contacts {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.nav__contact-link {
  display: flex;
  align-items: center;
  color: var(--font-secondary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  /* vertical-align: middle; */

  &:hover .nav__contact-icon {
    animation: animateY-10 1000ms 1;
  }
}

.nav__contact-icon {
  /* display: inline-block; */
  vertical-align: middle;
  margin-right: 5px;
  fill: currentColor;
}
