@use "../utils/variables.scss" as *;
@use "../utils/mixins" as *;

.showcase {
  /* background-color: var(--bg-dark-color); */
  text-align: center;
  height: 600px;
  padding: 200px 0px;
  max-width: 1600px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to bottom, var(--showcase-bg), var(--showcase-bg)), url(../images/showcase.jpg);
}

.showcase-h1 {
  display: block;
  margin: 0px auto 30px;
  text-transform: uppercase;
  color: $color-white;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  width: 700px;
}

/* ============================================== MODAL ============================================ */

.modal {
  cursor: initial;
  /* display: flex; */
  position: relative;
  padding: 40px;
  width: 528px;
  height: 581px;
  margin: auto;
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  z-index: 100;
  transform: rotateY(0deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__close-button {
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 8px;
    background: none;
    border-radius: 50%;
    border: 1px solid rgba(255, 0, 0, 0.1);
  }
  &__header-h3 {
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.backdrop {
  /* position: relative; */
  cursor: not-allowed;
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--semi-transparent);
  z-index: 50;
  /* transition-property: visibility, opacity; */
  visibility: visible;
  opacity: 1;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;

    .modal {
      transform: rotateY(180deg);
    }
  }
}

/* ================================================== FORMS ==================================== */

.main-form {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}

.main-form__box {
  /* font-size: 0;  */
  text-align: left;
  fill: var(--color-black);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-form__label {
  display: block; /* removes small margins between labels and inputs (either that or: 1. make .form-div -> flex & column direction -- 2. make .form-div -> font-size 0  */
  position: relative;
  margin: 0;
  padding: 0;
  color: var(--font-secondary-color);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
}
.main-form__icon {
  position: absolute;
  top: 31px;
  left: 12px;
  z-index: 40;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-form__box:hover,
.main-form__box:focus-within {
  fill: var(--hover-bg-color);
}

.main-form__input {
  position: relative;
  width: 100%;
  height: 40px;
  margin: 4px 0px 10px 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  /* padding-left: 42px; */
  text-indent: 42px;
  outline: none;
  border: 1px solid var(--form-border-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* background-image: url("../images/form-user.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 15px; */
}

.main-form__textarea {
  width: 100%;
  height: 120px;
  resize: none;
  margin-top: 4px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  outline: none;
  border: 1px solid var(--form-border-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-form__textarea::placeholder {
  color: var(--form-semi-transparent);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.main-form__policy-text {
  /* background-color: orange; */
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 20px 0px 30px 0px;
}

.main-form__checkbox {
  width: 16px;
  height: 15px;
  position: relative;
  border: 1px solid;
  border-radius: 2px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-form__checkbox--hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

/* .main-form__checkbox:checked {
  background-image: url("../images/vector.svg");
  display: inline-block;
  background-image: url("../images/icons.svg#icon-form-check-on");
  background-size: auto 100%;
  fill: #2196f3;
} */

.main-form__checkbox:checked::before {
  position: absolute;
  top: -1px;
  left: -1px;
  content: url("../images/check-in.svg");
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
}

.main-form__checkbox:hover,
.main-form__checkbox:focus,
.main-form__input:focus,
.main-form__input:hover,
.main-form__textarea:hover,
.main-form__textarea:focus,
.footer-form__newsletter-inputr:hover,
.footer-form__newsletter-input:focus {
  outline: none;
  border: 1px solid var(--hover-bg-color);
}

.main-form__button {
  margin: auto;
}
